/*---------- MOBILE FIRST ----------*/

html {
	font-size: 16px;
	margin: 0;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.8em;
}

#line-break {
	background-color: #77a466;
	height: 0.2em;
	width: 100%;
}

h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.8em;
	line-height: 1.3em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

header h1 {
	padding-top: 1em;
}

header h1 span {
	color: #77a466;
}
header nav {
	padding: 0;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0;
}

header nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9em;
	padding: 1em 0;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin: 0 auto;
	width: 100%;
}

.main-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 0;
	margin: 0 auto;
}
.main-image img {
	width: 100%;
	border-bottom: 0.18em solid #77a466;
	border-top: 0.18em solid #77a466;
}

.main-title {
	height: auto;
	width: 100%;
}
.main-title h2 {
	text-align: left;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.6em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 0.06em solid #eee;
}

.section-one h3,
.section-two h3,
.section-three h3 {
	padding: 0.6em 0em;
}

.menu {
	list-style: none;
	padding: 0;
	width: 100%;
}

.menu li {
	padding: 0.8em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.2em;
	padding: 0.6em 0em;
	width: 100%;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0.6em 0em;
	width: 100%;
}

/*The widths are in a percentage!*/
footer {
	border-top: 0.18em solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.88em;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media all and (min-width: 768px) {
  .bottom-section {
	align-items: flex-start;
	flex-flow: row nowrap;
  }
  .section-one, 
  .section-two, 
  .section-three {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	margin: 0 auto;
	padding-right: 0.8em; 
	width: 100%;
  }
  .section-two {
	padding-left: 0.8em; 
	border-left: 0.06em solid #eee;
	border-right: 0.06em solid #eee;
  }
  .section-three {
	  padding-left: 0.8em;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media all and (min-width: 1200px) {
	header {
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	}
	header h1 {
	width: 30%;
	padding: 0;
	text-align: flex-start;
	}
	#line-break {
		height: 0;
		width: 0%;
	}
	header nav ul {
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
		padding: 0;
	}
	header nav {
		width: 40%;
	}
}

